<div data-controller="landscape" data-is-landscape="false" class="group p-8 soundbox">
  <div class="group-data-[is-landscape=true]:hidden flex flex-col justify-center items-center w-full h-full">
      <div class="flex flex-col items-center justify-center w-full h-full gap-4">
          <h1 class="text-white text-4xl text-center">Only avaible in landscape</h1>
          <i class="fa-solid fa-rotate text-white text-4xl text-center"></i>
          <p class="text-white text-center">Please rotate your device</p>
      </div>
  </div>

  <div data-controller="sequencer"
      data-is-landscape="false"
      data-sequencer-samples-value="<%= @samples_from_drumrack %>"
      data-sequencer-genre-value="<%= @drumrack.genre %>"
      data-sequencer-bpm-value="<%= @drumrack.bpm.to_i %>"
      data-sequencer-initial-samples-value="<%= @drumrack.pads.map { |pad| pad.pad_drumrack_samples.map { |pad_drumrack_sample| {active: pad_drumrack_sample.active, category: pad_drumrack_sample.sample.category}.to_json } } %>"
      data-sequencer-drumrack-id-value="<%= @drumrack.id %>"
      class="drumrack-sequencer group-data-[is-landscape=true]:flex hidden rounded-lg h-full flex-col justify-between border-x-2 border-black"
  >
    <%= render 'controls' %>

    <%= render 'drumrack_sequencer' %>

    <%= render 'sample_picker' %>

    <% if action_name != 'show' %>
      <%= render 'popup' %>
    <% end %>
  </div>
</div>
