<% content_for :title, "Homepage" %>

<%= render "shared/header" %>

<div class="flex flex-col items-center h-screen px-4 py-2 gap-4 relative z-10">
  <div class="flex flex-col items-center h-screen px-4 py-8 gap-12">
    <div class="flex flex-col items-center gap-4">
      <h2 class="text-3xl font-outfit font-bold text-white">What's your today's inspiration ?</h2>
      <p class="text-xl font-outfit text-white">Find your favorite music genre and let the magic begin with one of our templates !</p>
      <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
<dotlottie-player src="https://lottie.host/b86bf942-1e99-43e2-a329-64191c6e659d/LRRZ4ef30s.lottie" background="transparent" speed="1" style="width: 80px; height: 80px" loop autoplay></dotlottie-player>

    </div>

    <%= render "shared/cards" %>

    <h2 class="text-3xl font-outfit font-bold text-yelloww">Or</h2>
    <div class="flex flex-col items-center gap-8">
      <%= form_with url: drumracks_path, method: :get, class: "w-full sm:w-auto" do %>
      <div class="flex gap-1 items-center w-full sm:w-auto">
        <%= text_field_tag :query,
              params[:query],
              class: "mt-2 h-12 px-4 py-2 rounded border-2 border-yelloww font-gillSans shadow-md w-full sm:w-72" ,
              placeholder: "Search genre or user..."
        %>
        <%= submit_tag "Search", name: "",
              class: "mt-2 h-12 bg-yelloww font-semibold hover:bg-blackk hover:text-yelloww text-lg text-blackk px-4 py-2 rounded font-outfit shadow-md w-full sm:w-auto sm:h-full sm:px-6 sm:py-2 transition-colors duration-300 border-2 border-yelloww"
        %>
      </div>
      <% end %>
      <div class="flex flex-col items-center">
        <p class="text-xl font-outfit text-white">Browse on drumracks made by our community !</p>
        <p class="text-lg font-outfit text-white">Sorted by most liked.</p>
      </div>

    </div>
    <%= render "shared/community", drumracks: @drumracks %>
      <%= render "shared/footer" %>
  </div>
</div>


<%= render "drumracks/blur_neons" %>
