<p class="text-white text-lg">This drumrack is named : <%= @drumrack.name %></p>
<p class="text-white text-lg">BPM <%= @drumrack.bpm %></p>


<%= render 'drumrack_sequencer' %>

<%= render 'sample_picker' %>

<%= render 'shared/user_profile' %>
