<% content_for :title, "User profile" %>
<div class="ml-4 mt-6 mr-4 flex flex-col justify-between justify-center ">
  <div class="flex flex-col mr-8 mb-8">
    <h2 class="text-5xl font-bold flex flex-col items-center font-outfit text-primary">Your profile</h2>
    <div class="flex flex-col mt-4 items-center gap-4">
      <%= cl_image_tag @user.profile_picture.key, class: "w-40 h-40 rounded-full object-cover border-2 border-primary" %>
      <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "bg-yelloww w-1/6 text-center rounded-md w-1/2 p-2 hover:bg-primary/80 hover:scale-110 hover:text-lg transform transition-transform duration-200 cursor-pointer" %>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center ml-6 mr-6 mb-24 gap-6">
    <div class="w-full flex flex-col mt-8 gap-4 pt-6 pb-6 shadow-lg p-2 md:w-1/2 bg-yelloww rounded-lg mb-4 md:mb-0 " style="box-shadow: inset 0 0 5px 6px rgba(0, 0, 0, 0.35);">
      <div class="flex flex-col gap-4 ">
        <h2 class="text-3xl text-center font-bold font-outfit text-black">Your drumracks created</h2>


         <% @drumracks.each do |drumrack| %>
          <%= render "shared/music_card", drumrack: drumrack, display_like_button: false %>
        <% end %>
      </div>
      <% if @likes.present? %>
        <ul class="flex items-center justify-center flex-wrap gap-4">
          <% @likes.each do |like| %>
            <%= render "shared/music_card", drumrack: like.drumrack, display_like_button: false, class: "bg-gradient-to-br from-customforestGreen/70 to-customforestGreen/30" %>
          <% end %>
        </ul>
      <% else %>
        <p class="text-lg text-black font-outfit">You have not created any drumracks yet.</p>
        <%= link_to "Pick a drumrack", drumracks_path, class: "text-blue-500 underline" %>
      <% end %>

    </div>

    <div class="w-full flex flex-col mt-8 gap-4 pbt-6 pb-6 shadow-lg shadow-black-500/50 p-2 md:w-1/2 bg-yelloww rounded-lg mb-4 md:mb-0 " style="box-shadow: inset 0 0 5px 6px rgba(0, 0, 0, 0.35);">
        <h3 class="text-3xl text-center font-bold font-outfit text-black">Your favorite drumracks</h3>
      <% if @likes.present? %>
        <ul class="flex items-center justify-center flex-wrap gap-4">
          <% @likes.each do |like| %>
            <%= render "shared/music_card", drumrack: like.drumrack, display_like_button: false %>
          <% end %>
        </ul>
      <% else %>
        <p class="text-lg font-outfit text-black">You have no drumracks liked yet.</p>
        <%= link_to "Pick a drumrack", drumracks_path, class: "text-blue-500 underline" %>
      <% end %>

    </div>
  </div>
  </div>
