<div class=" mt-6 flex flex-col items-center justify-center w-full">
      <div class="flex w-1/2 flex items-center rounded-lg bg-customforestGreen/70 flex-col mb-6">
        <h2 class="text-3xl font-bold justify-self font-kaushan text-white">Your profile</h2>
        <p>Welcome to your page !</p>
        <%= "Hello #{current_user.email}"%>
      </div>

    <div class="w-3/4 flex flex-col gap-4 shadow-lg shadow-black-500/50 p-2 md:w-1/2 rounded-lg mb-4 md:mb-0 overflow-y-auto max-h-[270px]" style="scrollbar-width: none; -ms-overflow-style: none;">
  <% if @likes.present? %>
    <h3 class="text-3xl font-bold font-kaushan flex justify-center text-white">Your likes</h3>
    <ul class="flex items-center justify-center flex-wrap gap-4">
      <% @likes.each do |like| %>
        <%= render "shared/music_card", drumrack: like.drumrack, display_like_button: false, class: "bg-gradient-to-br from-customforestGreen/70 to-customforestGreen/30" %>
      <% end %>
    </ul>
  <% else %>
    <h3 class="text-3xl font-bold text-white">Your likes</h3>
    <p class="text-lg">You have no drumracks liked yet.</p>
    <%= link_to "Browse drumracks", drumracks_path, class: "text-blue-500 underline" %>
  <% end %>
    </div>
    <div class="w-3/4 flex flex-col mt-8 gap-4 shadow-lg shadow-black-500/50 p-2 md:w-1/2 rounded-lg mb-4 md:mb-0 overflow-y-auto max-h-[270px]" style="scrollbar-width: none; -ms-overflow-style: none;">
  <% if @likes.present? %>
    <h3 class="text-3xl font-bold font-kaushan flex justify-center text-white">Your drumracks</h3>
    <ul class="flex items-center justify-center flex-wrap gap-4">
      <% @likes.each do |like| %>
        <%= render "shared/music_card", drumrack: like.drumrack, display_like_button: false %>
      <% end %>
    </ul>
  <% else %>
    <h3 class="text-3xl font-bold text-white">Your likes</h3>
    <p class="text-lg">You have no drumracks liked yet.</p>
    <%= link_to "Browse drumracks", drumracks_path, class: "text-blue-500 underline" %>
  <% end %>
    </div>
</div>

</div>
