<header class="flex justify-between items-center p-6 border-b-2 border-amber-950 shadow-xl backdrop-blur-lg sticky top-0 z-50">
    <%= link_to root_path, class: "flex items-center gap-4" do %>
        <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player src="https://lottie.host/95f56188-c27f-4ed9-8cd9-8a46b13c4410/nTFx8mlXQK.lottie" background="transparent" speed="1" style="width: 60px; height: 60px" loop autoplay></dotlottie-player>
        <h1 class="text-xl font-outfit font-bold text-yelloww">DRUM'N LEARN</h1>
    <% end %>

    <div class="flex items-center gap-4">
        <% if user_signed_in? %>
          <%= link_to user_path(current_user) do %>
            <div class="flex items-center gap-4">
              <h2 class="text-white font-gillSans font-semibold hover:text-yeloww hover:underline transition-colors duration-300">Welcome <%= current_user.username %></h2>
              <%= cl_image_tag current_user.profile_picture.key, class: "w-10 h-10 rounded-full object-cover border-2 border-primary" %>
            </div>
          <% end %>
        <% else %>
            <%= link_to "Sign up / Login", new_user_registration_path, class: "text-white font-gillSans font-semibold hover:text-yelloww hover:underline transition-colors duration-300" %>
        <% end %>
    </div>
</header>
