<%= link_to drumrack_path(drumrack), class: "w-full max-w-md h-60 bg-customGrey/40 rounded-xl shadow-lg p-6" do %>
  <!-- Title -->
  <div class="text-center text-white font-outfit textfont-bold mb-4 ">
    <%= drumrack.name %>
  </div>

  <!-- Tags -->
  <div class="flex justify-center gap-4 mb-6">
    <% if false %>
      <% drumrack.tags.each do |tag| %>
        <%= render "shared/tag",  tag_name: tag  %>
      <% end %>
    <% end %>
  </div>

  <!-- Play Button -->
  <div class="flex justify-center items-center ">
    <div class="w-24 h-24 bg-gradient-to-br from-yelloww to-primary rounded-full mg-4 flex justify-center items-center shadow-inner cursor-pointer">
      <i class="fa-solid fa-play fa-2xl"></i>
    </div>
  </div>

  <% if current_user && display_like_button %>
    <% like = current_user.likes.where(drumrack: drumrack)&.first %>
    <%= button_to current_user.like?(drumrack) ? like_path(like) : drumrack_likes_path(drumrack),
      method: current_user.like?(drumrack) ? :delete : :post do  %>
      <div data-controller="heart">
        <i data-heart-target="icon"
          data-action="click->heart#toggleColor"
          class="fa fa-heart <%= current_user.like?(drumrack) ? 'text-red-500' : 'text-black' %> cursor-pointer text-2xl">
        </i>
      </div>
    <% end %>
  <% end %>
<% end %>
