<% steps = Array.new(16, '') %>
<%= bpm = 120 %>

<script>
  import * as Tone from "tone";

  const synths =[
    new Tone.Synth().toDestination()
  ]

  const Cnote = "C4"
  let rows = [
    Array.from({ length: 8 }, (_, i) => ({ note: Cnote, active: false}))
  ]


</script>

<div class="flex flex-col items-center mx-8">
  <div class="bpm-controls ">
    <label for="bpm" id="bpm-label"><%= bpm %> BPM</label>
    <input type="range" id="bpm" min="60" max="240" value="<%= bpm %>" />
    <button>Play</button>
    <button>Stop</button>
  </div>

  <div class="sequencer">
    <% steps.each_with_index do |step, i| %>
      <div class="pad <%= 'active' if i == 0 %> <%= 'first-beat-of-the-bar' if i % 4 == 0 %>"><%= step %></div>
    <% end %>
  </div>

</div>

<script>
    // Javascript a changer d'endroiiit
    const bpmInput = document.querySelector('#bpm');
    const bpmLabel = document.querySelector('#bpm-label');

    // alalala j'ai meme pas utilisé stimulus
    bpmInput.addEventListener('input', function() {
      bpmLabel.textContent = `${bpmInput.value} BPM`;
    });
</script>

<style>
  .bpm-controls {
    margin-bottom: 20px;
  }

  .bpm-controls label {
    color: red;
  }

  .sequencer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;
    width: 100%;
  }
  .pad {
    background: #ccc;
    font-size: 10px
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0;
    box-sizing: border-box;
  }

  .pad.active {
    background: #600889;
    border: 1px solid #600889;
    color: #fff;
  }

  .first-beat-of-the-bar {
    background: #98c9fa;
    border: 1px solid #98c9fa;
  }
</style>
