<div class="flex items-center justify-center h-screen">
  <div class="bg-greyy p-8 rounded-lg shadow-lg w-3/4 max-w-md border border-yelloww ">
    <h2 class="text-2xl font-bold text-center font-outfit text-yelloww">Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="my-4 flex flex-col items-center gap-6">
        <%= f.input :email,
            required: false,
            autofocus: true,
            input_html: {
              autocomplete: "email",
              class: "text-primary border border-slate-600 rounded-md p-2 flex flex-col gap-2 w-full focus:border-primary focus:outline-none"
            },
            label_html: {
              class: "text-white font-outfit"
            } %>

        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password",
                                  class: "border border-slate-600 rounded-md p-2 flex flex-col gap-2 w-full focus:border-primary focus:outline-none",
                                },
                    label_html: {
                      class: "text-white font-outfit"
                    } %>
        <% if devise_mapping.rememberable? %>
  <%= f.input :remember_me,
              as: :boolean,
              label_html: { class: "font-outfit text-white p-2" } %>
<% end %>
      </div>

      <div class="my-4 flex flex-col items-center gap-2">
        <%= f.button :submit, "Log in", class: "font-outfit border-2 border-yelloww bg-yelloww font-outfit font-semibold text-blackk rounded-md w-1/2 p-2 hover:bg-blackk hover:text-yelloww transform transition-transform duration-200 cursor-pointer" %>
      </div>
    <% end %>
    <div class="text-white my-4 flex flex-col items-center gap-2 hover:text-yelloww transform transition-transform duration-200 cursor-pointer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

<%= render "shared/menubar" %>
